_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

#resume
resume/RAMAN Y MATHUR.aux
resume/RAMAN Y MATHUR resume.fdb_latexmk
resume/RAMAN Y MATHUR resume.fls
resume/RAMAN Y MATHUR resume.log
resume/RAMAN Y MATHUR resume.synctex.gz
resume/RAMAN Y MATHUR resume.tex