_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

#resume
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.tex
_data/Currents.csv
cutter.py
.DS_Store
_books/the_art_of_seduction.md
_books/the_courage_to_be_disliked.md
.DS_Store
.obsidian