

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
        body{background-color: rgb(0, 0, 0);
            color: white;}
	}
	
	html[data-theme="light"] { 
        body{background-color: rgb(255, 255, 255);
        color:black;}
	}
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
}

strong, b, h1, h2, h3, h4 {
	font-weight: bold;
}

hr {
    background: yellow;
    border: 0;
    height: 0px;
    margin: 2rem 0;
    width: 100%;
}

table {
    // border-collapse: collapse;
    border: 1px solid red;
    text-align: center;
    width: 100%;

    tr {
        padding: 0rem;
        border: 1px solid red;
        height: auto
    }

    td {
        padding: 0rem;
        border: 1px solid red;
        height: auto
    }

}

img {
    width: 100%;
    margin: 0.5rem 0;
}

header {
    width: 100%;
    // align-items: center;
    display: flex;
    justify-content: center;
}

nav {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            // width: 12.5%;
        }
    }
    a {
        margin: 0.5rem;
        text-transform: uppercase;
    }
}


// footer {
//     margin: 0rem 0;
// }
